<div class="row">
	<h2>Groups</h2>
	<div class="panel panel-default">
		<div class="panel-body">
			<p>We have groups for everybody, just search for whatever interests you</p>
		</div>
	</div>
  <div class="alert alert-danger alert-dismissible" role="alert" ng-show="newGroup.error">
    <button type="button" class="close" aria-label="Close" ng-click="dismissNewGroupAlert()"><span aria-hidden="true">&times;</span></button>
    <strong>Oops!</strong> There was an error creating your new group: {{ newGroup.error }}.
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Register group</h4>
    </div>
    <div class="panel-body">
      <p>If you can't find a group that you like, you can always start your own. Build it, and they will come...</p>
      <form name="newGroupForm" novalidate ng-submit="newGroupForm.$valid && newGroup.submitNewGroupForm()">
        <div class="form-group">
          <label for="group-name">Group Name:</label>
          <input id="group-name" class="form-control" placeholder="Enter group name..." ng-model="newGroup.name" required />
        </div>
        <div class="form-group">
          <label for="group-description">Description:</label>
          <input id="group-description" class="form-control" placeholder="Enter group description..." ng-model="newGroup.description" required />
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="newGroupForm.$invalid">
          <span class="glyphicon glyphicon-plus-sign"></span> Register
        </button>
      </form>
    </div>
  </div>
</div>
