<div>
	<h2>Welcome to {{group.name}}</h2>
	<div class="col col-md-9">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">About us</div>
				<div class="panel-body">
					<p>{{group.description}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Upcoming meetings
            <a role="button" class="btn btn-primary pull-right" href="#/groups/{{groupId}}/meetings/new">
              <span class="glyphicon glyphicon-plus"></span>Schedule meeting
            </a>
          </h4>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="meeting in allMeetings | filter: isInTheFuture">
								<a href="#/meetings/{{meeting.id}}">{{meeting.name}}</a>
								<br/>{{meeting.startDate | date : 'longDate'}}
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Past meetings</h4>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="meeting in allMeetings | filter: isInThePast">
								<a href="#/meetings/{{meeting.id}}">{{meeting.name}}</a>
								<br/>{{meeting.dateStart | date : 'longDate'}}
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Comments
            <button class="btn btn-primary pull-right" ng-click="loadComments()">
              <span class="glyphicon glyphicon-repeat"></span>
            </button>
          </h4>
				</div>
        <form name="newCommentForm" ng-submit="addGroupComment()">
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="comment in comments">
                <pat-comment comment="comment"></pat-comment>
              </li>
            </ul>
            <div class="form-group">
              <textarea class="form-control" ng-model="newComment.text" placeholder="Add your comment..." />
            </div>
            <button type="submit" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus-sign"></span>Add commment
            </button>
          </div>
        </form>
      </div>
		</div>
	</div>
	<div class="col col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">Members</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="user in members">
						<pat-user user="user"></pat-user>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
