<div>
	<h2>Welcome to {{group.name}}</h2>
	<div class="col col-md-9">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">About us</div>
				<div class="panel-body">
					<p>{{group.description}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Upcoming events</h4>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="event in futureEvents">
								<a href="#/events/{{event.id}}">{{event.name}}</a>
								<br/>{{event.dateStart | date : 'longDate'}}
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Past events</h4>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="event in pastEvents">
								<a href="#/events/{{event.id}}">{{event.name}}</a>
								<br/>{{event.dateStart | date : 'longDate'}}
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Comments</h4>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="comment in comments">
							<pat-comment comment="comment"></pat-comment>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">Members</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="user in members">
						<pat-user user="user"></pat-user>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>