<div class="meeting-container">
  <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="deleteMeetingLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteMeetingLabel">Delete meeting?</h4>
        </div>
        <div class="modal-body">
          <p class="text-warning">
            <span class="glyphicon glyphicon-question-sign"></span>
            Do you really want to delete <strong>{{meeting.name}}</strong>?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="deleteMeeting()" data-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-danger alert-dismissible" role="alert" ng-show="error">
    <button type="button" class="close" aria-label="Close" ng-click="dismissDeleteMeetingAlert()"><span aria-hidden="true">&times;</span></button>
    <strong>Oops!</strong> There was an error deleting your meeting: {{ error }}.
  </div>
	<div class="row">
		<div class="col-md-9">
      <div class="row">
        <h2>{{meeting.name}}</h2>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div id="parent-group"><a href="#/groups/{{meeting.groupId}}">{{group.name}}</a></div>
          <div>{{meeting.dateStart | date: 'longDate'}}</div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#confirmDeleteModal">
            <span class="glyphicon glyphicon-remove"></span>Delete
          </button>
        </div>
      </div>
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Agenda</h4>
					</div>
					<div class="panel-body">
						<div uib-collapsed="isDescriptionCollapsed"><p>{{meeting.description}}</p></div>
					</div>
				</div>
			</div>
			<div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Comments
              <button class="btn btn-primary pull-right" ng-click="loadComments()">
                <span class="glyphicon glyphicon-repeat"></span>
              </button>
            </h4>
          </div>
          <form name="newCommentForm" ng-submit="addMeetingComment()">
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="comment in comments">
                  <pat-comment comment="comment"></pat-comment>
                </li>
              </ul>
              <div class="form-group">
                <textarea class="form-control" ng-model="newComment.text" placeholder="Add your comment..." />
              </div>
              <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus-sign"></span>Add commment
              </button>
            </div>
          </form>
        </div>
      </div>
		</div>
		<div class="col-md-3">
			<div id="rsvps">
				<h3>RSVPs</h3>
				<uib-accordion close-others="true">
					<uib-accordion-group is-open="true">
						<uib-accordion-heading>
							<i class="glyphicon glyphicon-ok"></i>&nbsp;Yes
						</uib-accordion-heading>
						<ul class="list-group">
							<li class="list-group-item list-group-item-success" ng-repeat="rsvp in rsvps.yes">
								<rsvp data="rsvp"></rsvp>
							</li>
						</ul>
					</uib-accordion-group>
					<uib-accordion-group>
						<uib-accordion-heading>
							<i class="glyphicon glyphicon-remove"></i>&nbsp;No
						</uib-accordion-heading>
						<ul class="list-group">
							<li class="list-group-item list-group-item-danger" ng-repeat="rsvp in rsvps.no">
								<rsvp data="rsvp"></rsvp>
							</li>
						</ul>
					</uib-accordion-group>
					<uib-accordion-group>
						<uib-accordion-heading>
							<i class="glyphicon glyphicon-asterisk"></i>&nbsp;Maybe
						</uib-accordion-heading>
						<ul class="list-group">
							<li class="list-group-item list-group-item-warning" ng-repeat="rsvp in rsvps.maybe">
								<rsvp data="rsvp"></rsvp>
							</li>
						</ul>
					</uib-accordion-group>
				</uib-accordion>
			</div>
		</div>
	</div>
</div>
